:root {
    --primary: #06d6a0;
    --business: #f15bb5;
    --personal: var(--primary);
    --light: #f1faee;
    --dark: #313154;
    --gray: #888;
    --danger: #ef476f;

    --shadow: 0 1px 3px rgba(0, 0, 0, .1);

    --business-glow: 0 0 4px rgba(241, 91, 181, .75);
    --personal-glow: 0 0 4px rgba(6, 214, 160, .75);
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--light);
    color: var(--dark);
}

/* MODIFICAR AQUI */
.app {
    width: 90%;
    margin: auto;
}

@media (min-width: 768px) {
    .app {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .app {
        width: 55%;
    }
}

input:not([type="radio"]):not([type="checkbox"]),
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

section {
    margin: 2rem 0;
    padding: 0 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

h4 {
    color: var(--gray);
    font-size: .875rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

/* GREETING SECTION */
.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: .5rem;
    flex: 1 1 0;
    min-width: 0;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

/* CREATE TO DO SECTION */

/* Input */
.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: white;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

::placeholder {
    opacity: .75;
}

/* Categories */
.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

/* To check if the bubble is checked */
.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked~.bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: .8rem;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: white;
    background-color: var(--primary);
    border-radius: .5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    opacity: .75;
}

/* TODO LIST */
.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0;
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    padding: .5rem;
    display: block;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: .75;
}

.todo-item .actions .edit {
    margin-right: .5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

/* Crossing an item from the list */
.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--gray);
}